In [1]:
import pandas as pd
data = pd.read_excel('Elektrocekh.xlsx')
data

                      Наименование работы       Марка   Модель    Итого
0                                  Вакуум       Skoda  Octavia     1700
1    Генератор - проверка системы зарядки        Ford    Focus     1000
2            Демонтаж трубки кондиционера        Opel    Corsa     1500
3                Демонтаж-монтаж форсунок      Nissan    Sunny     1500
4                             Диагностика         Kia      Rio     1500
..                                    ...         ...      ...      ...
394                                   NaN      Toyota  Avensis     4000
395                                   NaN  Volkswagen     Polo     5000
396                                   NaN  ВАЗ (Lada)     2105     3500
397              диагностика кондиционера         Kia     Soul     2000
398                                 Итого         NaN      NaN  1043600

[399 rows x 4 columns]

In [2]:
data = data.drop(data.shape[0]-1)

In [6]:
data.fillna(method='ffill', inplace=True) # type: ignore
data

                      Наименование работы       Марка   Модель  Итого
0                                  Вакуум       Skoda  Octavia   1700
1    Генератор - проверка системы зарядки        Ford    Focus   1000
2            Демонтаж трубки кондиционера        Opel    Corsa   1500
3                Демонтаж-монтаж форсунок      Nissan    Sunny   1500
4                             Диагностика         Kia      Rio   1500
..                                    ...         ...      ...    ...
393             Электротехнические работы        SEAT    Ibiza   3000
394             Электротехнические работы      Toyota  Avensis   4000
395             Электротехнические работы  Volkswagen     Polo   5000
396             Электротехнические работы  ВАЗ (Lada)     2105   3500
397              диагностика кондиционера         Kia     Soul   2000

[398 rows x 4 columns]

In [5]:
data['Итого'].sum()

1043600

In [12]:
data['Наименование работы'].value_counts().head(30)

Наименование работы
Компьютерная диагностика                             61
Электротехнические работы                            15
Промывка форсунок в УЗ ванне и проверка на стенде     4
Поиск утечки фреона                                   4
Форсунки - с/у                                        4
Ремонт электропроводки                                3
Замена золотника                                      3
Проверка электроцепей ЭСУД                            3
Проверка и замена предохранителей                     3
Проверка герметичности                                2
Ремонт разъема                                        2
Ремонт проводки                                       2
Проверка и замена моторчика стеклоочистителя          2
Ремонт проводки компрессора                           2
Проверка и ремонт эл.цепей ЭСУД                       2
Проверка электроцепей SRS                             2
Проверка давления топлива                             2
Проверка эл.цепей стеклоочистителя                    2
Замена ламп                                           2
Диагностика                                           2
Замена ДПДЗ                                           2
Диагностика системы запуска                           2
Замена свечей зажигания                               2
Прошивка Е2                                           2
Прошивка ЕВРО-2                                       2
Удаление неисправностей                               2
Проверка электроцепей стеклоочистителя                1
Промывка в УЗ ванне и проверка форсунок на стенде     1
Промывка системы                                      1
Промывка дросселя                                     1
Name: count, dtype: int64

In [11]:
data = data[data['Наименование работы'].apply(lambda x: ('кондицион' not in x) and ('радиат' not in x))]
data

                      Наименование работы       Марка   Модель  Итого
0                                  Вакуум       Skoda  Octavia   1700
1    Генератор - проверка системы зарядки        Ford    Focus   1000
3                Демонтаж-монтаж форсунок      Nissan    Sunny   1500
4                             Диагностика         Kia      Rio   1500
5                             Диагностика      Nissan  X-Trail   1000
..                                    ...         ...      ...    ...
392             Электротехнические работы     Renault    Logan   7000
393             Электротехнические работы        SEAT    Ibiza   3000
394             Электротехнические работы      Toyota  Avensis   4000
395             Электротехнические работы  Volkswagen     Polo   5000
396             Электротехнические работы  ВАЗ (Lada)     2105   3500

[317 rows x 4 columns]

In [16]:
1043600 - data['Итого'].sum()

263200